@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>THE QUIZZ</h3>

<p>This is Quiz game with two modes. First mode gives you two opportunities to answer (yes and no). The other mode provides you 3 possible answers. This game is made by David Todorov</p>
