@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <div class="quiz">
        <div class="tabs">
            <div class="tab">Yes/No</div>
            <div class="tab">Multiple Choise</div>
        </div>
        <p>Who Said It</p>
        <p class="quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel nulla ultricies mattis. Vestibulum tristique mi ac neque vehicula dapibus. Mauris quis nibh malesuada, ullamcorper enim et, scelerisque. </p>
        <p>Lorem ipsum dolor</p>
        <button>Yes</button>
        <button>No</button>
    </div>
</div>