@model QuizWeb.Models.QuoteAuthorModel
<div id="multiChoice">
    @foreach (var quoteAuthor in Model.MultiChoiceAuthors)
    {
        <input type="radio" name="author" authorId="@quoteAuthor.AuthorId" value="@quoteAuthor.AuthorId"/>@quoteAuthor.AuthorName <br/>
    }
    <input type="submit" name="submit" value="Submit"/>
</div>