@model QuizWeb.Models.QuoteAuthorModel
<div id="multiChoice">
    <div>
        @foreach (var quoteAuthor in Model.MultiChoiceAuthors)
        {
            <label>
                <input type="radio" name="author" authorId="@quoteAuthor.AuthorId" value="@quoteAuthor.AuthorId"/>
                <i style="margin-left: 15px;">@quoteAuthor.AuthorName</i>
            </label>
            <br/>

        }
    </div>
    <input type="submit" name="submit" value="Submit"/>
</div>