@model QuizWeb.Models.QuoteAuthorModel

<div id="yesNo">
    <p authorId="@Model.YesNoAuthorId">@Model.YesNoAuthorName</p>
    <button id="yes" value="yes">Yes</button>
    <button id="no" value="no">No</button>
</div>
